name: Automated Build

on:
  push:
    branches:
      - main

jobs:
  push:

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    permissions:
      contents: read
      packages: write


    strategy:
      matrix:
        component: [ hasher, rng, webui, worker ]

    steps:
      - 
        uses: actions/checkout@v3

      -
        name: Log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      -
        name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      #-
      #  name: Log into custom registry
      #  uses: docker/login-action@v3
      #  with:
      #    registry: ${{ secrets.REGISTRY_ADDRESS }}
      #    username: ${{ secrets.REGISTRY_USERNAME }}
      #    password: ${{ secrets.REGISTRY_PASSWORD }}

      -
        uses: docker/setup-qemu-action@v3

      -
        uses: docker/setup-buildx-action@v3

      -
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.component }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ghcr.io/jpetazzo/dockercoins/${{ matrix.component }}:v0.1
            dockercoins/${{ matrix.component }}:v0.1

      #-
      #  uses: docker/build-push-action@v5
      #  with:
      #    context: ${{ matrix.component }}
      #    platforms: linux/amd64
      #    push: true
      #    tags: |
      #      ${{ secrets.REGISTRY_ADDRESS }}/dockercoins/${{ matrix.component }}:v0.1
